
.calendar-container {
   padding: 0px;
   /* background-color: red; */
   height: 100%;
   width:95vw;
   margin-top: 20%;
   /* margin-left: 10%; */
   
   z-index: -1;
   justify-content: center;

   
 }

 .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.event-form {
  position: relative;
  z-index: 1001;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Shadow for depth */

}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

 /* Style the calendar header for month navigation */
 .calendar-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 0.1rem;
   margin-bottom:20px;

 }
 
 .nav-button {
   padding: 8px 16px;
   background-color: #2196f3;
   color: white;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.2s ease;
   
 }
 
 .nav-button:hover {
   background-color: #1976d2; /* Darker blue on hover */
 }
 
 /* Style the calendar title */
 .calendar-title {
   font-size: 26px;
   color: white;
   font-weight: bold;
 }
 
 /* Add styles for custom date inputs */
 .custom-date-inputs {
   display: flex;
   align-items: center;
   margin-bottom: 16px;
   display: none;
 }
/* start */
.status-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the icons */
  gap: 4px; /* Add space between icons */
  padding: 8px;
  margin-bottom: 1rem;
  /* border-radius: 8px; */
}

/* Each icon is a flex item that adjusts its size based on screen width */
.status-icons-container > * {
  flex: 1 1 100px; /* Set the minimum width for each icon */
  max-width: 150px; /* Set the maximum width */
  text-align: center;
  padding: 10px;
  /* background-color: white; Optional: add some styling to the icons */
  border-radius: 4px;
}

/* On mobile screens (max-width: 768px), the icons will stack or wrap */
@media (max-width: 768px) {
  .status-icons-container {
    justify-content: center;
  }
  
  .status-icons-container > * {
    flex: 1 1 20%; /* Each icon will take up 45% of the row's width */
    max-width: none; /* Remove the max width so that they can fill the space */
  }
}

/* Optional: For extra small screens, stack icons vertically */
@media (max-width: 480px) {
  .status-icons-container > * {
    flex: 1 1 40%; /* Icons will take full width and stack vertically */
  }
}


.status-icon-wrapper {
  display: flex;
   margin-left: 19px ;
  
  /* flex-direction: column; */
  align-items:center;

}

.status-label {
  font-size: 14px;
  text-align: center;
  color: white;
}
 /* end */
 .custom-date-input {
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 8px;
   margin-right: 8px;
   width: 80px;
   font-size: 16px;
 }
 
 .apply-date-button {
   padding: 8px 16px;
   background-color: #2196f3;
   color: white;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.2s ease;
 }
 
 .apply-date-button:hover {
   background-color: #1976d2; /* Darker blue on hover */
 }
 
 /* Define the grid layout for the calendar days */
 .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr)); /* 7 columns by default, each taking necessary space */
  gap: 0px; /* No gap between grid items */
  border-radius: 60px; /* Added border-radius for rounded edges */

}

@media (max-width: 480px) {
  .calendar-grid {
    grid-template-columns: repeat(7, minmax(0, 1fr)); /* Change to 6 columns for small screens */
  }
}



.calendar-day {
  padding: 16px;
  color: black;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease; /* Add transform to transition */
}

/* Add hover effect for scaling */
.calendar-day:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
}

 .calendar-day:hover {
   background-color: #e0f7fa; 
 }
 
 .calendar-day.event {
   background-color: #90caf9;
 }
 
 /* Style the day number */
 .day-number {
   font-size: 18px;
   font-weight: bold;
 }
 
 /* Style the event status container */
 .event-status-container {
   margin-top: 8px;
   size: 20px;
 }
 
 /* Style individual event status text with specific classes */
 .event-status {
   display: block;
   font-size: 40px;
   margin-top: 4px;
   padding: 4px 4px;
   border-radius: 4px;
   color: #fff;
 }
 
 /* Add colors for different statuses */
 .event-status.compiled {
   background-color: #4caf50; /* Green */
 }
 
 .event-status.pending {
   background-color: #ff9800; /* Orange */
 }
 
 .event-status.pending-&-rejected {
   background-color: #f44336; /* Red */
 }
 
 .event-status.future {
   background-color: #3f51b5; /* Indigo */
 }
 
 .event-status.checklist-compiled {
   background-color: #009688; /* Teal */
 }
 
 .event-status.checklist-pending {
   background-color: #607d8b; /* Blue Grey */
 }
 
 /* Style the event form */
 .event-form {
   margin-top: 16px;
 }
 
 .event-form-title {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 8px;
 }
 
 /* Style the select dropdown */
 .event-select {
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 8px;
   margin-bottom: 16px;
   width: 100%;
   font-size: 16px;
 }
 
 /* Style the add event button */
 .add-event-button {
   padding: 8px 16px;
   background-color: #4caf50;
   color: white;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.2s ease;
 }
 
 .add-event-button:hover {
   background-color: #388e3c; /* Darker green on hover */
 }
 
 /* Style the status selector */
 .status-selector {
   display: flex;
   flex-direction: column;
 }
 
 .status-option {
   display: flex;
   align-items: center;
   margin-bottom: 4px;
 }
 
 .status-option input {
   margin-right: 8px;
 }
 
/* 
 .event-icon {
  font-size: 18px;
  display: inline-block;
  margin-right: 4px;
} */

/* Define styles for status icons */
.status-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  margin: 0px 2px 0px;

}

/* Add specific icons for each status */
.icon-compiled {
  background-image: url('./assets/1.png'); /* Replace with actual path to icon */
  /* height: 15px;
  width: 15px; */
  border: none !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.icon-pending {
  background-image: url('./assets/2.png'); /* Replace with actual path to icon */
  /* height: 15px;
  width: 15px; */
  border: none !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.icon-pendingrejected {
  background-image: url('./assets/3.png'); /* Replace with actual path to icon */
  /* height: 15px;
  width: 15px; */
  border: none !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.icon-future {
  background-image: url('./assets/4.png'); /* Replace with actual path to icon */
  /* height: 40px;
  width: 40px; */
  border: none !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.icon-checklist-compiled {
  background-image: url('./assets/5.png'); 
  /* height: 30px;
  width: 30px; */
  border: none !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.icon-checklist-pending {
  background-image: url('./assets/6.png'); /* Replace with actual path to icon */
 
  border: none !important;
  overflow-clip-margin: content-box;
  /* overflow: clip; */

}
